{{- $extra := dict
      "skillOverrides" (dict)
      "enabledPlugins" (dict)
      "extraKnownMarketplaces" (dict)
      "permissions" (dict "defaultMode" "auto")
-}}
{{ includeTemplate "claude-settings-hooks-modifier" (merge (dict "claudeExtraSettings" $extra) .) }}