{
  "Profiles": [
    {
      "Name": "Default",
      "Rewritable" : true,
      "Guid": "625E6312-9F72-4409-BE2E-593DB177E72E",
      "Normal Font": "MesloLGSNF-Regular 13",
      "Non Ascii Font": "MesloLGSNF-Regular 13",
      "Dynamic Profile Parent Name": "Default"
    }
  ]
}
