{{- $fullname := promptStringOnce . "fullname" "Your full name" -}}
{{- $gh_commit_email := promptStringOnce . "gh_commit_email" "GitHub commit email address (personal)" -}}
{{- $gh_commit_email_willdan := promptStringOnce . "gh_commit_email_willdan" "GitHub commit email address (Willdan)" -}}
{{- $gh_username := promptStringOnce . "gh_username" "GitHub user name" -}}
{{- $keepassxc_db := promptStringOnce . "keepassxc_db" "keepassxc database (e.g., ~/Sync/data2.kdbx)" -}}
{{- $microsoft_email := promptStringOnce . "microsoft_email" "Microsoft email address (optional, press enter to skip)" "" -}}
{{- $tag_choices := list "ai" "ml" "mobile" "personal" "school" "work" -}}
{{- $tags := promptMultichoiceOnce . "tags" "list of tags for this machine (e.g., ai, mobile, work)"
    $tag_choices (list "work")
-}}

[data]
fullname = {{ $fullname | quote }}
gh_commit_email = {{ $gh_commit_email | quote }}
gh_commit_email_willdan = {{ $gh_commit_email_willdan | quote }}
gh_username = {{ $gh_username | quote }}
keepassxc_db = {{ $keepassxc_db | quote }}
microsoft_email = {{ $microsoft_email | quote }}
tags = {{ $tags | toToml }}

[scriptEnv]
GITHUB_USERNAME = {{ $gh_username | quote }}

[keepassxc]
database = {{ $keepassxc_db | quote }}

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/hooks/pre/bootstrap"

[hooks.apply.post]
command = {{ if contains "work" ($tags | toString) -}} ".local/share/chezmoi/hooks/post/test-ssh-github.sh" {{- else -}} "echo" {{- end }}

[edit]
 command = "code"
 args = ["--wait"]

[diff]
exclude = ["scripts"]
command = "code"
args = ["--wait", "--diff"]

[merge]
command = "bash"
args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}"
]