{{- if eq .chezmoi.os "darwin" }}
{{- $zshPlugin := dict "type" "archive" "exact" true "stripComponents" 1 "refreshPeriod" "168h" -}}

[".oh-my-zsh"]
    {{- toToml $zshPlugin | nindent 4 }}
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    {{- toToml $zshPlugin | nindent 4 }}
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/zsh-autocomplete"]
    {{- toToml $zshPlugin | nindent 4 }}
    url = "https://github.com/marlonrichert/zsh-autocomplete/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    {{- toToml $zshPlugin | nindent 4 }}
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"

[".oh-my-zsh/custom/plugins/zsh-defer"]
    {{- toToml $zshPlugin | nindent 4 }}
    url = "https://github.com/romkatv/zsh-defer/archive/master.tar.gz"

[".oh-my-zsh/custom/themes/powerlevel10k"]
    {{- toToml $zshPlugin | nindent 4 }}
    url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"

{{ if has "dev" .tags -}}
[".local/share/zsh-llm-suggestions"]
    type = "git-repo"
    url = "https://github.com/cearley/zsh-llm-suggestions.git"
    exact = true
    refreshPeriod = "24h"
{{- end }}

[".local/share/zsh-functions"]
    type = "git-repo"
    url = "https://github.com/cearley/zsh-functions.git"
    exact = true
    refreshPeriod = "24h"
{{- end }}
