{{- if (has "ai" .tags) }}
# Added by LM Studio CLI (lms)
export PATH="$PATH:{{- .chezmoi.homeDir -}}/.lmstudio/bin"
# End of LM Studio CLI section
{{ end }}

{{- if has "dev" .tags }}
#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="{{- .chezmoi.homeDir -}}/.sdkman"
[[ -s "{{- .chezmoi.homeDir -}}/.sdkman/bin/sdkman-init.sh" ]] && source "{{- .chezmoi.homeDir -}}/.sdkman/bin/sdkman-init.sh"
{{ end }}