{{ if .has_keepassxc_db -}}
export OPENAI_API_KEY={{ keepassxcAttribute "OpenAI platform" "CodeGPT_key" | quote }}
export DAGGER_CLOUD_TOKEN={{ keepassxcAttribute "Dagger Cloud" "Access Token" | quote }}
{{- end }}