eval "$(/opt/homebrew/bin/brew shellenv)"


# Added by Toolbox App
export PATH="$PATH:{{- .chezmoi.homeDir -}}/Library/Application Support/JetBrains/Toolbox/scripts"
# Add .NET Core SDK tools
export PATH="$PATH:$HOME/.dotnet/tools"

{{- if and (has "dev" .tags) (lookPath "rustup") }}


source "$HOME/.cargo/env"
{{- end }}
