{{ if has "dev" .tags -}}
export PATH=/usr/local/smlnj/bin:"$PATH"
# AWS bash completion
complete -C "$HOMEBREW_PREFIX/bin/aws_completer" aws
# AWS cli for use with LocalStack. (See https://github.com/localstack/awscli-local#alternative.)
alias awslocal="AWS_ACCESS_KEY_ID=test AWS_SECRET_ACCESS_KEY=test AWS_DEFAULT_REGION=${DEFAULT_REGION:-$AWS_DEFAULT_REGION} aws --endpoint-url=http://${LOCALSTACK_HOST:-localhost}:4566"
. "$HOME/.cargo/env"
# Load nvm
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
{{- end }}

{{ if (has "ai" .tags) -}}
# SpecStory https://specstory.com/specstory-cli
alias claudespec='specstory run claude --no-cloud-sync'
alias codexspec='specstory run codex --no-cloud-sync'
alias geminispec='specstory run gemini --no-cloud-sync'

# Added by LM Studio CLI (lms)
export PATH="$PATH:{{- .chezmoi.homeDir -}}/.cache/lm-studio/bin"
export PATH="$PATH:{{- .chezmoi.homeDir -}}/.lmstudio/bin"
# End of LM Studio CLI section
{{- end }}

# Astral.sh uv - Python package manager
. "$HOME/.local/bin/env"
eval "$(uv generate-shell-completion bash)"
eval "$(uvx --generate-shell-completion bash)"
