{{- if .has_keepassxc_db -}}
  {{- if has "ai" .tags -}}
export OPENAI_API_KEY={{ keepassxcAttribute "OpenAI platform" "CodeGPT_key" | quote }}
  {{- end -}}
  {{- if and (has "ai" .tags) (has "dev" .tags) }}
export DAGGER_CLOUD_TOKEN={{ keepassxcAttribute "Dagger Cloud" "Access Token" | quote }}
  {{- end -}}
{{- end }}