[user]
	name = {{ .fullname }}
	email = {{ .gh_commit_email }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
[credential]
	helper = osxkeychain
[gpg]
	format = ssh
[core]
	autocrlf = input
{{- if has "dev" .tags }}
	pager = delta
{{- end }}

[credential "https://github.com"]
	username = {{ .gh_username }}

{{ if has "dev" .tags -}}
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[init]
	defaultBranch = main
{{- end }}

# Include config for specific repos. Since Git processes config in order 
# and later values win, the more specific include will override the broader one.

{{- if ne .gh_commit_email_primary_work "" }}
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-primary-work
{{- end }}

[includeIf "gitdir:~/work/cearley.github.io/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/work/cearley/"]
    path = ~/.gitconfig-personal
