{{- if .has_keepassxc_db -}}
  {{- if has "ai" .tags -}}
export GEMINI_API_KEY={{ keepassxcAttribute "Gemini" "API key" | shellQuote }}
export OPENAI_API_KEY={{ keepassxcAttribute "OpenAI platform" "CodeGPT_key" | shellQuote }}
export ANTHROPIC_API_KEY={{ keepassxcAttribute "Anthropic" "API key" | shellQuote }}
  {{- end -}}
  {{- if and (has "ai" .tags) (has "dev" .tags) }}
export DAGGER_CLOUD_TOKEN={{ keepassxcAttribute "Dagger Cloud" "Access Token" | shellQuote }}
  {{- end }}
export GITHUB_TOKEN={{ keepassxcAttribute "GitHub" "Access Token" | shellQuote }}
  {{- if and (has "work" .tags) (ne .azure_devops_org "") }}
export AZURE_DEVOPS_EXT_PAT={{ keepassxcAttribute "Azure DevOps (Willdan)" "Access Token" | shellQuote }}
  {{- end }}
  {{- if and (has "dev" .tags) (ne .azure_devops_org_personal "") }}
export AZURE_DEVOPS_EXT_PAT_PERSONAL={{ keepassxcAttribute "Azure DevOps (CES)" "Access Token" | shellQuote }}
  {{- end }}
  {{- if has "work" .tags }}
export FULCRUM_API_TOKEN={{ keepassxcAttribute "Fulcrum (Willdan)" "API Key" | shellQuote }}
  {{- end }}
{{- end }}
