{{- if .has_keepassxc_db -}}
  {{- if has "ai" .tags -}}
export GEMINI_API_KEY={{ keepassxcAttribute "Gemini" "API key" | quote }}
export OPENAI_API_KEY={{ keepassxcAttribute "OpenAI platform" "CodeGPT_key" | quote }}
  {{- end -}}
  {{- if and (has "ai" .tags) (has "dev" .tags) }}
export DAGGER_CLOUD_TOKEN={{ keepassxcAttribute "Dagger Cloud" "Access Token" | quote }}
  {{- end }}
export GITHUB_TOKEN={{ keepassxcAttribute "GitHub" "Access Token" | quote }}
{{- end }}