{{- $settings := includeTemplate "machine-settings" . | fromJson -}}
{{- $brewfile := index $settings "brewfile" -}}
{{- if $brewfile -}}
{{- $brewfilePath := printf "%s/brewfiles/%s" .chezmoi.sourceDir $brewfile -}}
{{- if stat $brewfilePath -}}
{{ $brewfilePath }}
{{- end -}}
{{- end -}}