{{- $settings := includeTemplate "machine-settings" . | fromJson -}}
{{- if $settings.brewfile -}}
{{- $brewfilePath := printf "%s/brewfiles/%s" .chezmoi.sourceDir $settings.brewfile -}}
{{- if stat $brewfilePath -}}
{{ $brewfilePath }}
{{- end -}}
{{- end -}}