{{- $settings := includeTemplate "machine-settings" . | fromJson -}}
{{- $tunnels := index $settings "cloudflare_tunnels" -}}
{{- if and $tunnels .has_keepassxc_db -}}
{{ keepassxcAttachment "Cloudflare Tunnel (ow-dev)" "cert.pem" -}}
{{- end -}}