{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

source "{{ .chezmoi.sourceDir -}}/scripts/shared-utils.sh"

{{ if stat (joinPath .chezmoi.homeDir ".sdkman/bin/sdkman-init.sh") -}}
if ! command_exists sdk; then
  print_message "info" "Sourcing SDKMAN! initialization script..."
  source "{{- .chezmoi.homeDir -}}/.sdkman/bin/sdkman-init.sh"
fi
{{- end }}

if ! require_tools sdk; then
    exit 1
fi

print_message "info" "Installing packages using SDKMAN!..."

{{- $categories := prepend .tag_choices "core" }}
{{- range $category := $categories }}
  {{- $categoryData := index $.packages.darwin $category }}
  {{- if or (eq $category "core") (has $category $.tags) }}
    {{- if and (hasKey $categoryData "sdkman") $categoryData.sdkman }}
# Install {{ $category }} SDKs
{{ range $categoryData.sdkman -}}
sdk install {{ . }}
{{ end -}}
    {{- end }}
  {{- end }}
{{- end }}

{{ end -}}