{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# run_onchange trigger - packages.yaml changes or every 7 days:  {{ includeTemplate "time-bucket" (dict "days" 7) }}

source "{{ .chezmoi.sourceDir -}}/scripts/shared-utils.sh"

if ! require_tools bun; then
    exit 1
fi

print_message "info" "Installing global packages using bun..."
# Update outdated dependencies first
bun update -g
{{- $categories := prepend .tag_choices "core" }}
{{- range $category := $categories }}
  {{- $categoryData := index $.packages.darwin $category }}
  {{- if or (eq $category "core") (has $category $.tags) }}
    {{- if and (hasKey $categoryData "bun") $categoryData.bun }}
# Install {{ $category }} bun packages
{{ range $categoryData.bun -}}
bun add -g {{ . }}
{{ end -}}
    {{- end }}
  {{- end }}
{{- end }}

{{ end -}}
