{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
#!/bin/bash

echo "🦾 Ensuring Rosetta is installed on Apple Silicon Mac..."

if ! /usr/bin/pgrep oahd >/dev/null 2>&1; then
    sudo softwareupdate --install-rosetta --agree-to-license
else
    echo "✅ Rosetta is already installed"
fi

{{ end -}}