{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if ! /usr/bin/pgrep oahd >/dev/null 2>&1; then
    sudo softwareupdate --install-rosetta --agree-to-license
else
    echo "Skipping Rosetta installation: Rosetta is already installed"
fi

{{ end -}}