{
{{- if .has_keepassxc_db }}
  "access_token": {{ keepassxcAttribute "Google Cloud Platform" "Gmail Access Token" | quote }},
  "refresh_token": {{ keepassxcAttribute "Google Cloud Platform" "Gmail Refresh Token" | quote }},
{{- end }}
  "scope": "https://www.googleapis.com/auth/gmail.modify https://www.googleapis.com/auth/gmail.settings.basic",
  "token_type": "Bearer",
  "refresh_token_expires_in": 604799,
  "expiry_date": 1760373790437
}
