{{ $sshEntryName := includeTemplate "machine-keepassxc-entry" (merge (dict "entry" "ssh") .) }}
{{- if and $sshEntryName .has_keepassxc_db -}}
{{- keepassxcAttribute $sshEntryName "id_ed25519.pub" -}}
{{- end }}
