{{ $computerName := includeTemplate "computer-name" . }}
{{- $sshEntry := includeTemplate "ssh-keepassxc-entry" $computerName -}}
{{- if $sshEntry -}}
{{- keepassxcAttribute $sshEntry "known_hosts" -}}
{{- end }}
