{{ $computerName := output "scutil" "--get" "ComputerName" | trim }}
{{- if contains "Mac Studio" $computerName -}}
{{- keepassxcAttribute "SSH (Mac Studio)" "known_hosts" -}}
{{ else if contains "MacBook" $computerName -}}
{{- keepassxcAttribute "SSH (MacBook Pro)" "known_hosts" -}}
{{- end }}
