{{ $sshEntryName := includeTemplate "machine-keepassxc-entry" (merge (dict "entry" "ssh") .) }}
{{- if and $sshEntryName .has_keepassxc_db -}}
{{- keepassxcAttribute $sshEntryName "known_hosts" -}}
{{- end }}
