{{ $computerName := includeTemplate "computer-name" . }}
{{- $sshEntry := includeTemplate "ssh-keepassxc-entry" $computerName -}}
{{- if and $sshEntry .has_keepassxc_db -}}
{{- keepassxcAttribute $sshEntry "id_ed25519" -}}
{{- end }}
