{{- $settings := includeTemplate "machine-settings" . | fromJson -}}
{{ $sshEntryName := $settings.keepassxc_entries.ssh }}
{{- if and $sshEntryName .has_keepassxc_db -}}
{{- keepassxcAttribute $sshEntryName "id_ed25519" -}}
{{- end }}
