{{ if and (has "dev" .tags) .has_keepassxc_db -}}
[default]
region = us-east-1
output = json

[profile ces]
region = us-east-1
output = json

[profile di-dev]
region = us-east-1
output = json

[profile di-prod]
region = us-east-1
output = json

[profile personal]
region = us-east-1
output = json

[profile localstack]
region = us-east-1
output = json
{{- else if .has_keepassxc_db -}}
[default]
region = us-east-1
output = json
{{- end }}

[profile claudecode-dev-us-east-1]
credential_process = {{- .chezmoi.homeDir -}}/claude-code-with-bedrock/credential-process --profile claudecode-dev-us-east-1
region = us-east-1
