{{ if has "dev" .tags -}}
[default]
region = us-east-1
output = json

[profile ces]
region = us-east-1
output = json

[profile di-dev]
region = us-east-1
output = json

[profile di-prod]
region = us-east-1
output = json

[profile personal]
region = us-east-1
output = json

[profile localstack]
region = us-east-1
output = json
{{- else if .has_keepassxc_db -}}
[default]
region = us-east-1
output = json
{{- end }}
