{{ if and (has "dev" .tags) .has_keepassxc_db -}}
[default]
aws_access_key_id = {{ keepassxcAttribute "AWS (DI Dev)" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "AWS (DI Dev)" "aws_secret_access_key" }}

[ces]
aws_access_key_id = {{ keepassxcAttribute "AWS (CES)" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "AWS (CES)" "aws_secret_access_key" }}

[di-dev]
aws_access_key_id = {{ keepassxcAttribute "AWS (DI Dev)" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "AWS (DI Dev)" "aws_secret_access_key" }}

[di-prod]
aws_access_key_id = {{ keepassxcAttribute "AWS (DI Prod)" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "AWS (DI Prod)" "aws_secret_access_key" }}
aws_session_token = {{ keepassxcAttribute "AWS (DI Prod)" "aws_session_token" }}

[personal]
aws_access_key_id = {{ keepassxcAttribute "AWS (Personal)" "aws_access_key_id" }}
aws_secret_access_key = {{ keepassxcAttribute "AWS (Personal)" "aws_secret_access_key" }}

[localstack]
aws_access_key_id = test
aws_secret_access_key = test
{{ end -}}