{{ $computerName := includeTemplate "computer-name" . }}
{{- $brewfilePath := includeTemplate "machine-brewfile-path" (dict
"computerName" $computerName "chezmoi" .chezmoi) -}}
{{- if $brewfilePath -}}
{{ $brewfilePath }}
{{- end -}}