{{- $model := output "sh" "-c" "system_profiler SPHardwareDataType | awk '/Model Name/ {print substr($0, index($0, $3))}'" | trim -}}
{{- if contains "MacBook Pro" $model -}}
{{ .chezmoi.sourceDir }}/mbp-brewfile
{{- end -}}