{{- if and (eq .chezmoi.os "darwin") (has "ai" .tags) -}}
{
  "mcpServers": {
    "basic-memory": {
      "command": "{{- .chezmoi.homeDir -}}/.local/bin/uvx",
      "args": [
        "basic-memory",
        "mcp"
      ]
    }{{- if (has "work" .tags) -}},
    "gemini-cli": {
      "command": "npx",
      "args": ["-y", "gemini-mcp-tool"]
    },
    "jetbrains": {
      "command": "npx",
      "args": [
        "-y",
        "@jetbrains/mcp-proxy"
      ]
    }{{- end }}
  }
}
{{ end -}}