{{- if and (eq .chezmoi.os "darwin") (has "ai" .tags) -}}
{
  "mcpServers": {
    "aws-api": {
      "command": "{{- .chezmoi.homeDir -}}/.local/bin/uvx",
      "args": [
        "awslabs.aws-api-mcp-server@latest"
      ],
      "env": {
        "AWS_REGION": "us-west-2"
      }
    },
    "aws-diagram": {
      "command": "{{- .chezmoi.homeDir -}}/.local/bin/uvx",
      "args": [
        "--with",
        "sarif-om,jschema_to_python",
        "awslabs.aws-diagram-mcp-server@latest"
      ]
    },
    "aws-knowledge": {
      "command": "{{- .chezmoi.homeDir -}}/.local/bin/uvx",
      "args": [
        "fastmcp",
        "run",
        "https://knowledge-mcp.global.api.aws"
      ]
    },
    "basic-memory": {
      "command": "{{- .chezmoi.homeDir -}}/.local/bin/uvx",
      "args": [
        "--python",
        "3.12",
        "basic-memory",
        "mcp"
      ]
    },
    "bedrock-agentcore": {
      "command": "{{- .chezmoi.homeDir -}}/.local/bin/uvx",
      "args": [
        "awslabs.amazon-bedrock-agentcore-mcp-server@latest"
      ],
      "env": {
        "FASTMCP_LOG_LEVEL": "ERROR"
      }
    }{{- if stat (print .chezmoi.homeDir "/work/FulcrumMcpServer/FulcrumMcpServer.Console/bin/Release/net8.0/FulcrumMcpServer.Console.dll") }},
    "fulcrum": {
      "command": "/usr/local/share/dotnet/dotnet",
      "args": [
        "/Users/craig/work/FulcrumMcpServer/FulcrumMcpServer.Console/bin/Release/net8.0/FulcrumMcpServer.Console.dll",
        "mcp"
      ]
    }{{- end }}{{- if stat (print .chezmoi.homeDir "/work/FulcrumMcpServer/FulcrumMcpServer.Console/bin/Debug/net8.0/FulcrumMcpServer.Console.dll") }},
    "fulcrum-debug": {
      "command": "/usr/local/share/dotnet/dotnet",
      "args": [
        "/Users/craig/work/FulcrumMcpServer/FulcrumMcpServer.Console/bin/Debug/net8.0/FulcrumMcpServer.Console.dll",
        "mcp"
      ],
      "env": {
        "DOTNET_ENVIRONMENT": "Development"
      }
    }{{- end }},
    "gemini-cli": {
      "command": "npx",
      "args": [
        "-y",
        "gemini-mcp-tool"
      ]
    },
    "gmail": {
      "command": "npx",
      "args": [
        "@gongrzhe/server-gmail-autoauth-mcp"
      ]
    },
    "jetbrains": {
      "command": "npx",
      "args": [
        "-y",
        "@jetbrains/mcp-proxy"
      ]
    },
    "strands-agents": {
      "command": "{{- .chezmoi.homeDir -}}/.local/bin/uvx",
      "args": [
        "strands-agents-mcp-server"
      ],
      "env": {
        "FASTMCP_LOG_LEVEL": "INFO"
      }
    }
  },
  "preferences": {
    "sidebarMode": "task"
  }
}
{{ end -}}