{{- $extra := dict
      "skillOverrides" (dict)
      "enabledPlugins" (dict)
      "extraKnownMarketplaces" (dict)
      "permissions" (dict)
      "env" (dict "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS" "1")
      "statusLine" (dict
        "type" "command"
        "command" `f=${CLAUDE_CONFIG_DIR:-$HOME/.claude}/hud/omc-hud.mjs; [ -f "$f" ] && node "$f"`)
-}}
{{ includeTemplate "claude-settings-hooks-modifier" (merge (dict "claudeExtraSettings" $extra) .) }}
