{{- $extra := dict
      "skillOverrides" (dict
        "audit-skills" "off"
        "integrate-worktrees" "off"
        "parallel-worktrees" "off")
      "enabledPlugins" (dict
        "claude-md-management@claude-plugins-official" true)
      "extraKnownMarketplaces" (dict)
      "permissions" (dict "defaultMode" "auto")
-}}
{{ includeTemplate "claude-settings-hooks-modifier" (merge (dict "claudeExtraSettings" $extra) .) }}