{{- if and (has "dev" .tags) (has "ai" .tags) -}}
name: Local Assistant
version: 1.0.0
schema: v1
models:
  - name: Qwen3-30b
    provider: ollama
    model: qwen3:30b-a3b
    roles:
      - chat
      - edit
      - apply
      - summarize
  - name: Qwen2.5-Coder 1.5B
    provider: ollama
    model: qwen2.5-coder:1.5b-base
    roles:
      - autocomplete
  - name: embeddingsProvider
    provider: ollama
    model: nomic-embed-text
    roles:
      - embed
{{- if .has_keepassxc_db }}
  - name: Gemini 2.0 Flash
    provider: gemini
    model: gemini-2.0-flash
    apiKey: {{ keepassxcAttribute "Gemini" "API Key" }}
  - name: GPT-5
    provider: openai
    model: gpt-5
    apiKey: {{ keepassxcAttribute "OpenAI platform" "CodeGPT_key" }}
{{- end }}
  - name: Autodetect
    provider: ollama
    model: AUTODETECT
context:
  - provider: code
  - provider: docs
  - provider: diff
  - provider: terminal
  - provider: problems
  - provider: folder
  - provider: codebase
{{ end -}}
